@model Todo
<form method="post" action="Registration">
	<label>Username</label>
	<input type="text" name="username" required><br><br>
	<label>Password</label>
	<input typr="password" name="password" requred><br><br>
	<button id="Registration" asp-action="Register">Register</button>
	<button id="Registration" asp-action="SetCookies">Change</button>
</form>
