@{
	ViewData["Title"] = "Todo1";
}

<form method="post" action="Home">
	<label>Username</label>
	<input type="text" name="username" required>
	<br>
	<label>Password</label>
	<input typr="password" name="password" requred>
	<br>

	<button asp-controller="Registration" asp-action="Index">Registration</button>
	<button asp-controller="Registration" asp-action=""></button>

</form>
